<nav class="navbar kgreen-background justify-content-between">
  <div class="container">
  <a class="navbar-brand" style="color: white"><img src="assets/img/img-01.png" alt="IMG" height="25px">&nbsp;<B>Bulky</B></a>
  <form class="form-inline">
    <span style="color: white; padding-right: 10px">{{myName}}</span>
    <div class="btn-group">
      <button type="button" mat-icon-button class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <mat-icon style="color: white; font-size: 24px;">
            account_circle
        </mat-icon>
      </button>

      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" [routerLink]="[{ outlets: { userOut:'list-user'} }]">Utenti</a>
        <a class="dropdown-item" role="button" (click)="logout()">Logout</a>
      </div>
    </div>
  </form>
  </div>
</nav>
<!--<p-breadcrumb *ngIf="breadcrumbs && breadcrumbs.length > 0" [model]="breadcrumbs" [home]="home"></p-breadcrumb>-->
<!--<nav class="navbar navbar-expand-lg navbar-light  bg-light " >
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Anagrafiche
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="[{ outlets: { userOut:'list-clienti'} }]">Clienti</a>
          <a class="dropdown-item" [routerLink]="[{ outlets: { userOut:'list-user'} }]">Utenti</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestione Lead
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="[{ outlets: { userOut:'list-lead'} }]">Elenco lead</a>
          <a class="dropdown-item" [routerLink]="[{ outlets: { userOut:'planning'} }]">Planning</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Statistiche
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>-->



<router-outlet></router-outlet>


