<div class="row bg-light no-margin">
  <div class="container ">
    <div class="row" style="padding-top: 20px; padding-bottom: 15px">
      <div class="col-md-2">
        <mat-form-field>
          <mat-select placeholder="Zona" [(ngModel)]="zSel" (selectionChange)="changeZona($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let z of listZone" [value]="z">
              {{z.zdescr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select placeholder="Planning" [(ngModel)]="pSel" (selectionChange)="changePlanning($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let p of listPlannong" [value]="p">
              {{p.plndescr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select placeholder="Data Planning" [(ngModel)]="pdSel" (selectionChange)="changeDettPlanning($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let dp of listDettPlannong" [value]="dp">
              {{dp.plan.plddescr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="kgreen" style="font-size: 24px; margin-top: 25px; margin-bottom: 15px;"><B>Planning</B></div>
<p-table #dt [value]="dettPlanning" dataKey="bfkactivity" class="ktable">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10em">Data</th>
      <th>Cliente</th>
      <th>Indirizzo</th>
      <th style="width: 7em">N. Colli</th>
      <th style="width: 12em">Carico</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td *ngIf="rowGroupMetadata[rowData.pldid].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.pldid].size" style="text-align: center; font-weight: bold; padding: 0px"
          [ngClass]="{'box-green': rowData.perc <= 60, 'box-yellow': (rowData.perc > 60 && rowData.perc <= 90), 'box-red': rowData.perc > 90 }">
        <!--<div [ngClass]="{'box-green': rowData.perc <= 60, 'box-yellow': (rowData.perc > 60 && rowData.perc <= 90), 'box-red': rowData.perc > 90 }" style="padding: 0px; margin: 0px;">-->
          <span>{{rowData.plddatefrom | date:'EEEE'}}</span><br>
          <span><h3>{{rowData.plddatefrom | date:'dd'}}</h3></span>
          <span>{{rowData.plddatefrom | date:'MMM yy'}}</span><br>
        <!--</div>-->
      </td>
      <td>{{rowData.cusurname}} {{rowData.cuname}}</td>
      <td>{{rowData.adaddress}} {{rowData.adnum}} {{rowData.adcomune}} {{rowData.adsiglaprov}}</td>
      <td>{{rowData.qty}}</td>
      <td *ngIf="rowGroupMetadata[rowData.pldid].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.pldid].size" style="text-align: center">

        <div class="progress" style="height: 15px; margin-bottom: 5px;">
          <div class="progress-bar" role="progressbar"  [attr.aria-valuenow]="rowData.perc" [style.width]="rowData.perc+'%'"  aria-valuemin="0" aria-valuemax="100"
               [ngClass]="{'bg-success': rowData.perc <= 60, 'bg-warning': (rowData.perc > 60 && rowData.perc <= 90), 'bg-danger': rowData.perc > 90 }" style="padding: 0px; margin: 0px;">{{rowData.perc}}%</div>
        </div>
        {{rowData.size}} / {{rowData.pldfill}}
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
