.box-green {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  /*padding: 15px;*/
  margin-bottom: 10px !important;
  border: 1px solid transparent !important;
  /*border-radius: 4px;*/
}

.box-text-green {
  color: #3c763d;
  /*font-weight: bold;*/
}

.box-red {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  /*padding: 15px;*/
  margin-bottom: 10px !important;
  border: 1px solid transparent !important;
  /*border-radius: 4px;*/
}

.box-text-red {
  color: #a94442;
  /*font-weight: bold;*/
}

.box-yellow {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
  /*padding: 15px;*/
  margin-bottom: 10px;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
}

.box-text-yellow {
  color: #856404;
  /*font-weight: bold;*/
}
