
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor=" let a of listCatgAct">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" (click)="gotoAction(a)">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>{{a.catitle}}</h3>
          <p class="lead mb-0">Utilizza questa funzione se vuoi prenotare un ritiro.</p>
        </div>
      </div>
      <!--<div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Richiesta Informazioni</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere delle informazioni.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Variazione Dati</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere la variazioni dei dati.</p>
        </div>
      </div>-->
    </div>
  </div>
</section>
<div class="ui-g" style="padding-left: 1rem; padding-right: 1rem;">
  <p-table [value]="listLead" [paginator]="true" [rows]="20" [responsive]="true" [loading]="loading"
           [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,50,100]" dataKey="lid">
    <ng-template pTemplate="caption">
      Lista LEADS
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Richiesta</th>
        <th>Data</th>
        <th>Stato</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-obj >
      <tr>
        <td>
          <span class="ui-column-title">Tipo</span>
          {{obj.lctdescrizione}}
        </td>
        <td>
          <span class="ui-column-title">Data</span>
          {{obj.ldtmod | date: 'dd/MM/yyyy HH:mm'}}
        </td>
        <td>
          <span class="ui-column-title">Stato</span>
          {{obj.lstatus}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5">
          Nessun Dato
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
