
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor=" let a of listCatgAct">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" (click)="gotoAction(a)">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>{{a.catitle}}</h3>
          <p class="lead mb-0">Utilizza questa funzione se vuoi prenotare un ritiro.</p>
        </div>
      </div>
      <!--<div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Richiesta Informazioni</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere delle informazioni.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Variazione Dati</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere la variazioni dei dati.</p>
        </div>
      </div>-->
    </div>
  </div>
</section>

<p-table [value]="listLead">
  <ng-template pTemplate="header">
    <tr>
      <th>Vin</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.vin}}</td>
      <td>{{car.year}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
    </tr>
  </ng-template>
</p-table>
