<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"><img src="../../assets/img/img-01.png" alt="IMG" height="25px">&nbsp;<B>Bulky</B></a>
  <form class="form-inline">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{myName}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" (click)="logout()">Logout</a>
      </div>
    </div>
  </form>
</nav>
<router-outlet  name="customer"></router-outlet>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor=" let a of listCatgAct">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>{{a.catitle}}</h3>
          <p class="lead mb-0">Utilizza questa funzione se vuoi prenotare un ritiro.</p>
        </div>
      </div>
      <!--<div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Richiesta Informazioni</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere delle informazioni.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Variazione Dati</h3>
          <p class="lead mb-0">Utilizza questa funzione per richiedere la variazioni dei dati.</p>
        </div>
      </div>-->
    </div>
  </div>
</section>


<p-card header="header">
  Content
</p-card>

<button mat-button>Click me!</button>
