<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"><img src="../../assets/img/img-01.png" alt="IMG" height="25px">&nbsp;<B>Bulky</B></a>
  <form class="form-inline">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{myName}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" (click)="logout()">Logout</a>
      </div>
    </div>
  </form>
</nav>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<!--<router-outlet  name="customer"></router-outlet>-->

<!--<router-outlet  name="customerOut"></router-outlet>-->
