<p-table [value]="listClienti" [paginator]="true" [rows]="15" [responsive]="true" [loading]="loading"
         [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,50,100]">
  <ng-template pTemplate="header">
    <tr>
      <th>Denominazione/cognome</th>
      <th>Nome</th>
      <th>Cod. Fiscale</th>
      <th>P. IVA</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-obj>
    <tr>
      <td>
        <span class="ui-column-title">Denominazione/Cognome</span>
        {{obj.cusurname}}
      </td>
      <td>
        <span class="ui-column-title">Nome</span>
        {{obj.cname}}
      </td>
      <td>
        <span class="ui-column-title">Cod. Fiscale</span>
        {{obj.cucf}}
      </td>
      <td>
        <span class="ui-column-title">P. IVA</span>
        {{obj.cupiva}}
      </td>
    </tr>
  </ng-template>
</p-table>
