
<div class="row bg-light">
  <div class="container ">
    <div class="col-md-2">
      <mat-form-field>
        <mat-select placeholder="Comune" [(ngModel)]="cSel">
          <mat-option *ngFor="let c of comuni" [value]="c">
            {{c.adcomune}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="kgreen" style="font-size: 24px; margin-top: 25px; margin-bottom: 15px;"><B>Elenco Clienti</B></div>
<p-table [value]="listClienti" [paginator]="true" [rows]="10" [responsive]="true" [loading]="loading"
         [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,50,100]" class="ktable"
         dataKey="cuid" (onRowExpand)="loadAddress($event)" rowExpandMode="single"
         selectionMode="single" [(selection)]="selectedCli" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em"></th>
      <th>Denominazione/cognome</th>
      <th>Nome</th>
      <th style="width: 10em">Cod. Fiscale</th>
      <th style="width: 10em">P. IVA</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-obj let-expanded="expanded">
    <tr [pSelectableRow]="obj">
      <td>
        <a href="#" [pRowToggler]="obj">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td>
        <span class="ui-column-title">Denominazione/Cognome</span>
        {{obj.cusurname}}
      </td>
      <td>
        <span class="ui-column-title">Nome</span>
        {{obj.cname}}
      </td>
      <td>
        <span class="ui-column-title">Cod. Fiscale</span>
        {{obj.cucf}}
      </td>
      <td>
        <span class="ui-column-title">P. IVA</span>
        {{obj.cupiva}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td [attr.colspan]="5">
        <div class="ui-g">
          <div class="ui-g-2" style="text-align: right"><B>Indirizzi:</B></div>
          <div class="ui-g-10">
            <div *ngFor="let a of listIndirizzi">
              {{a.adaddress}}, {{a.adnum}} - {{a.adcap}} {{a.adcomune}} ({{a.adsiglaprov}})
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Nuovo Lead" [(visible)]="displayNewLead" [minWidth]="450" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-g">
    <div class="ui-g-12">
      Nuovo Lead per: <B>{{selectedCli?.cusername}}</B>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4" *ngFor="let t of tipiLead">
      <p-radioButton name="group1" value="{{t.lctid}}"  label="{{t.lctdescrizione}}" [(ngModel)]="typeLead" ></p-radioButton>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-close" (click)="displayNewLead=false" label="Annulla" class="ui-button-secondary"></button>
    <button type="button" pButton icon="pi pi-check" (click)="doNewContact()" label="Crea Lead"></button>
  </p-footer>
</p-dialog>
