<mat-card class="md-elevation-z1" style="margin: 2em; padding: 0px;">

  <mat-card-content>
    <mat-toolbar >
      <mat-toolbar-row>
        <span><B>Nuova Richiesta: </B> {{myCatgAct?.catitle}}</span>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="salva()">Salva</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div style="padding: 10px 20px 10px 20px;">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Indirizzo e Data</ng-template>
            <div class="row">
              <div class="col-md-6" style="border-right: 1px solid lightgray">
                <B>Seleziona l'indirizzo:</B>
                <br><br>
                <mat-radio-group class="example-radio-group" [(ngModel)]="selectAddress" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-radio-button" *ngFor="let i of listAddress" [value]="i">
                    {{i.adnormalizzato}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6">
                <B>Seleziona la data di conferimento:</B>
                <br><br>
                <mat-radio-group class="example-radio-group" [(ngModel)]="selectPlanning" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-radio-button" *ngFor="let p of listPlanning" [value]="p">
                    {{p.plddescr}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-12" style="text-align: right">
                <button mat-button  (click)="goForward(stepper)" >Next</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <!--<form [formGroup]="secondFormGroup">-->
            <ng-template matStepLabel>Rifiuti</ng-template>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  [attr.aria-valuenow]="myPerc" [style.width]="myPerc+'%'" aria-valuemin="0" aria-valuemax="100">{{myPerc}}%</div>
            </div>
            <br>
            <div class="row" *ngFor="let rb of listRowBulky">
              <div class="col-md-9">
                <button mat-icon-button color="warn" *ngIf="rb.crif">
                  <mat-icon aria-label="Rimuovi" (click)="removeRow(rb)">delete_forever</mat-icon>
                </button>
                &nbsp;
                <mat-form-field style="width: 90%;">
                  <mat-select placeholder="Tipo Rifiuto" (selectionChange)="selectCatgRifiuto($event)" [(ngModel)]="rb.crif">
                    <mat-option *ngFor="let r of listCatgIngom" [value]="r">
                      {{r.crname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <p-spinner size="10" (onChange)="selectCatgRifiuto($event)" [(ngModel)]="rb.qty"  [min]="(rb && rb.crif && rb.crif.crqtymin) ? rb.crif.crqtymin : 0" [max]="(rb && rb.crif && rb.crif.crqtymax) ? rb.crif.crqtymax : 0"></p-spinner>
                <!--<mat-form-field style="width: 50%">-->
                  <!--<input matInput placeholder="Quantità" [(ngModel)]="rb.qty" >-->
                <!--</mat-form-field>-->
                &nbsp;&nbsp;<i>[min: {{(rb && rb.crif && rb.crif.crqtymin) ? rb.crif.crqtymin : 0}} . max: {{(rb && rb.crif && rb.crif.crqtymax) ? rb.crif.crqtymax : 0}}]</i>
              </div>
            </div>

            <div>
              <button mat-button (click)="goBack(stepper)">Back</button>
              <button mat-button (click)="goForward(stepper)" style="float: right">Next</button>
            </div>
          <!--</form>-->
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Riepilogo</ng-template>
          You are now done.
          <div>
            <button mat-button (click)="goBack(stepper)">Indietro</button>
            <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
</mat-card>
