<div class="box box-default table-box mdl-shadow--2dp">
    <div class="box-header">{{indirizzo?indirizzo.adaddress:'Select Indirizzo'}} /
        {{tipoAction?tipoAction.catitle:'Select tipologia'}}
    </div>
    <div class="box-body">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="catgFormGroup">

                <form [formGroup]="catgForm">
                    <ng-template matStepLabel>Cosa Ritirare</ng-template>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Selezionare tipo di rifiuto"
                                       formControlName="catgGroup" [matAutocomplete]="autoGroup">
                                <mat-autocomplete #autoGroup="matAutocomplete">
                                    <mat-optgroup *ngFor="let group of catgGroupOptions | async" [label]="group.tipo">
                                        <mat-option *ngFor="let v of group.values" [value]="v.crname"
                                                    (onSelectionChange)="onSelect($event,v)">
                                            {{v.crname}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <button mat-icon-button type="button" color="success">
                                <mat-icon class="material-icons">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="box box-default table-box mdl-shadow--2dp">
                                <table class="mdl-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Materiale</th>
                                        <th>Quantity</th>
                                        <th>Rimuovi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of basket; let ix=index;">
                                        <td class="mdl-data-table__cell--non-numeric">{{(ix+1)}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{item.materiale.crname}}</td>
                                        <td>
                                            <button mat-icon-button type="button" color="primary"
                                                    (click)="updateQty(item,1)">
                                                <mat-icon class="material-icons">keyboard_arrow_up</mat-icon>
                                            </button>
                                            {{item.qty}}
                                            <button mat-icon-button color="warn" (click)="updateQty(item,-1)">
                                                <mat-icon class="material-icons">keyboard_arrow_down</mat-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-icon-button type="button" color="warn" (click)="removeItem(ix)">
                                                <mat-icon class="material-icons">delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>

            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>