<section>
  <div class="ui-g">
    <p-card class="ui-g-12" subheader="Dati Contatto">
      <div class="ui-g">
        <div class="ui-g-1" style="text-align: right">Cliente:</div>
        <div class="ui-g-2">{{myCustomer?.cusurname}} {{myCustomer?.cuname}}</div>
        <div class="ui-g-1" style="text-align: right">Tipo Lead:</div>
        <div class="ui-g-2">{{myCustomer?.cusurname}} {{myCustomer?.cuname}}</div>
        <div class="ui-g-1" style="text-align: right">Data:</div>
        <div class="ui-g-2">{{myLead?.ledtins | date}}</div>
      </div>
    </p-card>
  </div>
</section>

<section>
  <div class="ui-g">
    <div class="ui-g-3">
      <p-card subheader="Attività Programmate">
        <ul>
          <li *ngFor="let a of azinilead"><a (click)="selectAzione(a)">{{a.catitle}}</a></li>
        </ul>
      </p-card>
      <p-card subheader="Attività Eseguibili">
        <ul>
          <li *ngFor="let a of azini4lead"><a (click)="selectAzione(a)">{{a.catitle}}</a></li>
        </ul>
      </p-card>
    </div>
    <div class="ui-g-9" *ngIf="azione2exec">
      <app-act-customer-standard *ngIf="azione2exec.cadoctype === 'act-standard'" [idCustomer]="myCustomer.cuid"></app-act-customer-standard>
      <app-act-customer-bulky *ngIf="azione2exec.cadoctype === 'act-bulky'"  [idCustomer]="myCustomer.cuid"></app-act-customer-bulky>
    </div>
  </div>
</section>

