<div class="row">
  <div class="col-md-2">
    <mat-form-field>
      <mat-select placeholder="Periodo" [(ngModel)]="pSel" (selectionChange)="changePeriodo($event)">
        <mat-option *ngFor="let p of periodi" [value]="p.ID">
          {{p.DESCRIZIONE}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field>
      <mat-select placeholder="Comune" [(ngModel)]="cSel">
        <mat-option *ngFor="let c of comuni" [value]="c">
          {{c.adcomune}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div>
  <p-table [value]="listLead" [paginator]="true" [rows]="20" [responsive]="true" [loading]="loading"
           [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,50,100]" dataKey="lid"
           (onRowExpand)="loadAction($event)" rowExpandMode="single"
           selectionMode="single" [(selection)]="selectedLead" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      Lista LEADS
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3em"></th>
        <th>Cliente</th>
        <th>Tipo</th>
        <th>Data</th>
        <th>Stato</th>
        <th>Assegnatario</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-obj let-expanded="expanded">
      <tr [pSelectableRow]="obj">
        <td>
          <a href="#" [pRowToggler]="obj">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td>
          <span class="ui-column-title">Cliente</span>
          {{obj.cuname}} {{obj.cusurname}}
        </td>
        <td>
          <span class="ui-column-title">Tipo</span>
          {{obj.lctdescrizione}}
        </td>
        <td>
          <span class="ui-column-title">Data</span>
          {{obj.ldtmod | date: 'dd/MM/yyyy HH:mm'}}
        </td>
        <td>
          <span class="ui-column-title">Stato</span>
          {{obj.lcsdescrizione}}
        </td>
        <td>
          <span class="ui-column-title">Assegnatario</span>
          {{obj.lassign}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5">
          No records found
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr *ngFor="let a of rowData.action">
        <td>&nbsp;</td>
        <td [attr.colspan]="5">
          <B>{{a.atitle}}</B><BR>
          Data:&nbsp;{{a.adtmod | date: 'dd/MM/yyyy HH:mm'}}&emsp;Assegnatario:&nbsp;{{a.assign}}<br>
          {{a.adescr}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
