<form class="example-form">
  <div class="ui-g">
    <div class="ui-g-6">
      <mat-form-field class="width-100">
        <input matInput placeholder="Nome e Cognome" [(ngModel)]="user.uname" name="name">
      </mat-form-field>
    </div>
    <div class="ui-g-6">
      <mat-form-field class="width-100">
        <input matInput  placeholder="Email" [(ngModel)]="user.uemail" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher" name="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Inserire un indirizzo EMAIL valido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email è <strong>richiesta</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="ui-g-6">
      {{user.urole}}
    </div>
    <div class="ui-g-6">
      <mat-slide-toggle [(ngModel)]="user.uenable" name="enab"
        [checked]="user.uenable">
        Abilitato
      </mat-slide-toggle>
    </div>
    <div class="ui-g-6">
      <mat-form-field class="width-100">
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.upasswd" name="password">
      </mat-form-field>
    </div>
    <div class="ui-g-12" style="border-top: 1px solid lightgray">
      <button mat-flat-button (click)="annulla()" name="ann">Annulla</button>
      <button mat-flat-button color="accent" (click)="conferma()" name="conf">Conferma</button>
    </div>
  </div>
</form>
