<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" >
          <div class="card">
            <div class="card-body krectangle-white" style="cursor: pointer" (click)="gotoAnagrafica()">
              <div style="text-align: center">
                <i class="fa fa-user fa-3x kgreen" aria-hidden="true"></i>
              </div>
              <div class="kgreen" style="font-size: 24px; margin-top: 20px;"><B>Clienti</B></div>
              Ricerca e visualizza clienti
            </div>
          </div>
      </div>
      <div class="col-lg-4" >
        <div class="card">
          <div class="card-body krectangle-white" style="cursor: pointer" (click)="gotoLead()">
            <div style="text-align: center">
              <i class="fa fa-line-chart fa-3x kgreen" aria-hidden="true"></i>
            </div>
            <div class="kgreen" style="font-size: 24px; margin-top: 20px"><B>Lead</B></div>
            Visualizza e gestisci le richieste dei clienti
          </div>
        </div>
      </div>
      <div class="col-lg-4" >
        <div class="card">
          <div class="card-body krectangle-white" style="cursor: pointer" (click)="gotoPlanning()">
            <div style="text-align: center">
              <i class="fa fa-calendar-o fa-3x kgreen" aria-hidden="true"></i>
            </div>
            <div class="kgreen" style="font-size: 24px; margin-top: 20px"><B>Planning</B></div>
            Visualizza e gestisci la pianificazione
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ui-g">
    <div class="ui-g-3">
      <p-chart type="doughnut" [data]="dataChartXcomune" [options]="optionsChartXcomune" [responsive]="true"></p-chart>
    </div>
    <div class="ui-g-3">
      <p-chart type="polarArea" [data]="dataChartXstato" [options]="optionsChartXstato" [responsive]="true"></p-chart>
    </div>
    <div class="ui-g-6">
      <p-chart type="line" [data]="dataChartXmese" [options]="optionsChartXmese" [responsive]="true"></p-chart>
    </div>
  </div>
</section>
