<h2 mat-dialog-title>Aggiungi/Modifica ZONA</h2>
<mat-dialog-content class="mat-typography">
    <div class="box box-default">
        <div class="box-body">
            <form>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <textarea name="zdescr" matInput placeholder="Nome Zona" value=""
                                  [(ngModel)]="zona.zdescr"></textarea>
                    </mat-form-field>
                </div>

            </form>

        </div>
    </div>
    <div class="box box-default">
        <div class="box-header">Pianificazioni</div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="DAL" name="dal" [(ngModel)]="dal">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="AL" name="al" [(ngModel)]="al">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-list dense>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.lun">Lun.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.mart">Mart.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.merc">Merc.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.giov">Giov.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.ven">Ven.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.sab">Sab.</mat-checkbox> </mat-list-item>
                        <mat-list-item> <mat-checkbox [(ngModel)]="days.dom">Dom.</mat-checkbox> </mat-list-item>
                    </mat-list>

                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="salva()">Salva</button>
</mat-dialog-actions>