<section class="container-fluid">
    <!--<ul class="breadcrumb">-->
    <!--<li class="breadcrumb-item"><a href="javascript:;">Page</a></li>-->
    <!--<li class="breadcrumb-item active">Blank</li>-->
    <!--</ul>-->
    <article class="article">
        <h2 class="article-title">Gestione Pianificazione</h2>
        <div class="row" style="border: 1px solid red;">
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-body">
                        <form>
                            <mat-form-field>
                                <mat-select placeholder="Comune" [(ngModel)]="comune" name="comune"
                                            (selectionChange)="onSelectComune($event)">
                                    <mat-option *ngFor="let item of comuni" [value]="item">
                                        {{item.adcomune}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="callout callout-info">
                                <p>Selected value: {{comune?comune.adcomune:''}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-8">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Zona" [(ngModel)]="zona" name="zona"
                                                    (selectionChange)="onSelectZona($event)">
                                            <!--
                                            zid
                                            zfkaccount
                                            zdescr
                                            zdtmod
                                            zdtins
                                            zusermod
                                            -->
                                            <mat-option *ngFor="let item of zone" [value]="item">
                                                {{item.zdescr}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" color="primary" (click)="updateZone()" mat-icon-button>
                                        <mat-icon>note_add</mat-icon>
                                    </button>
                                    <button type="button" color="primary" (click)="updateZoneNew()" mat-icon-button>
                                        <mat-icon>build</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="callout callout-info">
                                <p>Selected value: {{zona}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-8">
                                    <mat-form-field>
                                        <mat-select placeholder="Indirizzo" [(ngModel)]="indirizzo" name="indirizzo"
                                                    (selectionChange)="onSelectIndirizzo($event)">
                                            <!--
                                            {"azid":1,"azaddress":"VIA TRIESTE","azcap":"87046","azcomune":"MOLTALTO UFFUGO","azdtins":null,"azdtmod":null,"azfkaccount":1,"azfkzona":10,"azprov":"COSENZA","azsiglaprov":"CS","azusermod":null}
                                            -->
                                            <mat-option *ngFor="let item of indirizzi" [value]="item">
                                        <span *ngIf="!item.azaddress">
                                            <span *ngIf="item.azcap; else allcomune">{{item.azcap}}</span>
                                            <ng-template #allcomune>{{item.azcomune}}</ng-template>
                                        </span>
                                                <span *ngIf="item.azaddress">{{item.azaddress}}</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" color="primary" (click)="updateAddressZone()" mat-icon-button>
                                        <mat-icon>note_add</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="callout callout-info">
                                <p>Selected value: {{zona}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-default table-box mdl-shadow--2dp">
            <div class="box-body">
                <mat-form-field class="w-100">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cerca">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort class="w-100">

                        <!-- ID Column -->
                        <ng-container matColumnDef="cuid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                            <td mat-cell *matCellDef="let row"> {{row.cuid}}</td>
                        </ng-container>

                        <!-- Progress Column -->
                        <!--<ng-container matColumnDef="progress">-->
                        <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>-->
                        <!--<td mat-cell *matCellDef="let row"> {{row.progress}}% </td>-->
                        <!--</ng-container>-->

                        <!-- Name Column -->
                        <ng-container matColumnDef="cuname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
                            <td mat-cell *matCellDef="let row"> {{row.cuname}}</td>
                        </ng-container>
                        <!-- Surname Column -->
                        <ng-container matColumnDef="cusurname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome/Denominazione</th>
                            <td mat-cell *matCellDef="let row"> {{row.cusurname}}</td>
                        </ng-container>
                        <!-- Surname Column -->
                        <ng-container matColumnDef="cucf">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod.Fisc./P.IVA</th>
                            <td mat-cell *matCellDef="let row"> {{row.cucf}}</td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-icon class="material-icons" matTooltip="Azioni">view_module</mat-icon>
                            </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color">
                                <button mat-icon-button (click)="showCollList(row)">
                                    <mat-icon class="material-icons" matTooltip="Visualizza/Aggiungi">playlist_add
                                    </mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-paginator [pageSize]="AppConfig.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>

    </article>

</section>